DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable

REDIS_URL=redis://localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RABBITMQ_EXCHANGE=kaktus.events
RABBITMQ_EXCHANGE_TYPE=topic
RABBITMQ_THREAD_CREATED_KEY=thread.created
RABBITMQ_COMMENT_CREATED_KEY=comment.created
RABBITMQ_THREAD_LIKED_KEY=thread.liked

SERVER_ADDR=:3333

JWT_SECRET_KEY=please-change-this-secret
JWT_ISSUER=kaktus
JWT_ACCESS_TTL_MIN=15
JWT_REFRESH_TTL_HOUR=48
