DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
REDIS_URL=redis://localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RABBITMQ_EXCHANGE=kaktus.events
RABBITMQ_EXCHANGE_TYPE=topic
RABBITMQ_THREAD_CREATED_KEY=thread.created
RABBITMQ_THREAD_CREATED_QUEUE=kaktus.thread.created.queue
RABBITMQ_MAX_RETRY=3
SERVER_ADDR=:3334
